<%- include("partials/header"); -%>
<div class="comp">
<h1>Home</h1>
<p><%=homeStartingContent%></p>
<% posts.forEach((post) => { %>
    <h1><%=post.titleText%></h1>
    <p> 
        <%=`${post.composeText.substring(0, 100)} ...`%> 
        <a href="/posts/<%=post._id%>">Read More</a>
    </p>
    <p><strong><em><%=post.postDate%></em></strong></p>
    
<%});%>
</div>
<%- include("partials/footer"); -%>
